@model IEnumerable<AgendaContatos.Models.Contato>


<p>
    <a asp-action="Create"><input type="button" value="Criar" class="stylebutton"/></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
 
                <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Editar" class="stylebutton"></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Deletar" class="stylebutton"></a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .stylebutton{
        background-color: white;
    color:black; 
    border-radius: 10px;
    padding: 2px;
    width: 150px;}
    .stylebutton:hover,
    .stylebutton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

</style>
